<!DOCTYPE html>
<html>
<head>
    <title>Optimization Input</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Enter Optimization Parameters</h2>
    <img src="{{ url_for('static', filename='example.png') }}" alt="Logo" class="example">

    <form action="/" method="post">
        <label>Profit per unit of X1:</label>
        <input type="number" step="any" name="profit_A" required>

        <label>Profit per unit of X2:</label>
        <input type="number" step="any" name="profit_B" required>

        <label>Constraint-1 for X1:</label>
        <input type="number" step="any" name="labor_A" required>

        <label>Constraint-1 for X2:</label>
        <input type="number" step="any" name="labor_B" required>

        <label>Constraint-2 for X1:</label>
        <input type="number" step="any" name="material_A" required>

        <label>Constraint-2 for X2:</label>
        <input type="number" step="any" name="material_B" required>

        <label>Total Constraint-1 :</label>
        <input type="number" step="any" name="labor_limit" required>

        <label>Total Constraint-2 :</label>
        <input type="number" step="any" name="material_limit" required>

        <button type="submit">Optimize</button>
    </form>
</body>
</html>
